.sidebarbox{
    width:22%;
    background-color:white;
    position:fixed;
    margin-top:4%;
    height:100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0b0b;
    flex-direction: column;
}

.sidebar ul{
    display: flex;
    height: 100%;
    width:100px; 
    justify-content: center;
    flex-direction: column;
    list-style-type: none !important;
    border-radius: 10px;

}
.sidebar ul li{
    padding: 20px;
}
.sidebar ul li a{
    font-size: 23px;
    text-decoration: none !important;
    font-weight: bold;
    color: white;
    border:2px solid white;
    border-radius: 5px;
    padding: 14px 30px;
}