:root {
    --main-color: #0b0b0b;
  }
  
  .link {
    color: inherit;
    text-decoration: none;
  }
  
  @mixin tablet {
    @media (max-width: 768px) {
      @content;
    }
  }
  @mixin minimobile {
    @media (max-width: 420px) {
      @content;
    }
  }
  @mixin mobile {
    @media (max-width: 480px) {
      @content;
    }
  }

.navbar {
  width: 100%;
  color: white;
  font-size: 17px;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);

  .container {
    padding: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;

    @include mobile {
      display:flex;
      justify-content:left;
    }
    @include tablet {
      display:flex;
      justify-content:space-between;
    }

    .menuicon{
      display: none;
      @include mobile {
        display: block;
        padding: 0 17px;
      }
      @include tablet {
        display: block;
        padding: 0 17px;
      }
    }
    .middlelogo{
      height:70px;
      margin-right:40px;

      @include mobile {
        display: block;
      }
    }
  
    .left {
      display:flex;
      align-items: center;
      @include mobile {
         display:none;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        left: 0;
        margin-top:auto;
        height:auto;
        background-color:rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        padding: 20px;
      }
      @include tablet {
        display:none;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        left: 0;
        margin-top:auto;
        height:auto;
        background-color:rgba(0, 0, 0, 0.7);
        padding: 20px;
      }
      .closeicon{
        display: none;
        @include mobile {
display: block;
        }
        @include tablet {
          display: block;
                  }
      }

      img {
        height:70px;
        margin-right: 40px;
        margin-left: 40px;
 
        @include mobile {
          display: block;
          margin-right:0px;
          margin-left: 0px;
        }
      }

      span {
        margin-right: 20px;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        @include tablet {
          display: block;
          margin-right:0px;
          padding:5px;
        }
        @include mobile {
          padding:5px;
          margin-right:0px;
        }
        &.navbarmainLinks {
          @include tablet {
            display: block;
          }
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content:space-between !important;
      width:15% !important;
      margin-right:50px;
      @include mobile {
        width:auto !important;
        display:flex !important;
        justify-content:flex-start !important;
        align-items: center !important;
        margin-left:-9% !important;
      }
      @include tablet {
        display:flex;
        justify-content: space-between;
        width:35% !important;
      }
      @include minimobile {
        width:auto !important;
        display:flex !important;
        justify-content:flex-start !important;
        align-items: center !important;
        margin-left:-15% !important;
      }

      .icon {
        margin: 0px 15px;
        cursor: pointer;
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 5px;
        object-fit: cover;
        cursor: pointer;
      }

      .profile {
        .options {
          display: none;
          background-color: var(--main-color);
          border-radius: 5px;
          @include minimobile{
            margin-left: -14%;
            margin-top:6%;
          }
          @include mobile{
            margin-left: -11%;
            margin-top:0%;
          }
        }

        span {
          padding: 10px;
          cursor: pointer;
          color: white !important;
        }
        span a{
          text-decoration: none !important;
          color: white !important;
        }
        &:hover {
          .options {
            display: flex;
            flex-direction: column;
            position: absolute;
          }
        }
      }
    }
  }
}